@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

.{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  color: #e017bb;
  background-color: #050404;
  letter-spacing: 0.02rem;
  min-height: 100vh;
}

p {
  padding: 5px 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #0b3ed8;
  margin-bottom: 100px;
  padding: 20px;
  color: #efe5c3;
}

.navbar img{
  width: 12%;
  height: 10%;
  border-radius: 50%;
  margin-right: 100px;
}

h1 {
  font-size: 2.1em;
}

.repo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  width: 90%;
  margin: 0 auto;
}

.view-more{
  text-align: center;
    font-size: 1rem;
    color:#eaf4eb ;
    cursor: pointer;
    margin: 50px 0 60px;
}

.view-more:hover {
  text-decoration: underline;
  color: #fff;
  background-color: rgb(0, 42, 255);
}

.view-more:active {
  background-color: #04169f;
}

.repo-card,
.repodetail-card {
    border: 2px solid #e2eaeb;
    padding: 13px;
    border-radius: 5px;
}

.repo-card,
.repodetail-card:hover {
    box-shadow: 0 1 10px #e2eaeb;
}

.repo-card:hover {
  background-color: #f5f1e3;
  color: #333;
}


.repo-card {

}

.repo-detail-card {

}

a {
  text-decoration: none;
  color: #1B9AAA;
}

a:hover {
  text-decoration: underline;
}

#repodetail {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#repodetail p {
  padding: 15px 0;
  word-break: break-all;
}

.repo-mini-details {
  gap: 10px 50px;
  margin: 0 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.repo-mini-details  p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}


.icons {
  color: #07717e;
}

.repo-name {
  color: #03bc3a;
    font-size: 2rem;
    word-break: break-word;
}
 
.github-icon {
  font-size: 3rem;
  width: 160px;
  cursor: pointer;
}

section {
  padding: 20px 0;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50h;
}

.error-page h1 {
  font-size: 3rem;
  color: #1B9AAA;
  margin-bottom: 20px;
}

.error-status {
  font-size: 5rem;
}

@media screen and (max-width: 380px) {
  .repo-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  h1 {
      font-size: 1.5rem;
  }

  .github-icon {
      font-size: 2rem;
  }

}




